@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    70 Bond Street, Suite 400<br />
    Toronto, ON M5B 1X3<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@architech.ca">info@architech.ca</a><br />
    
</address>



