@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Architech</h1>
    <p class="lead">We bring great ideas to life, faster.
We create innovative solutions for companies looking to wow their customers and push the boundaries of technology ‑ improving the way people live, work and play. </p>
    <p><a href="http://www.architech.ca/#/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            We create apps people love. We’re a top digital experiences studio applying lean thinking and software engineering discipline, with a focus on incredible user and brand experience.
        </p>
        <p><a class="btn btn-default" href="http://www.architech.ca/#/services">Learn more &raquo;</a></p>
    </div>
   
</div>*@